.clr{
	clear: both;
}
*{
	box-sizing: border-box;
}
#box{
	/*background-color: green;*/
	width: 100%;
	height: auto;
	padding:0;

}


/*top*/
#top-page{
	margin: 0px auto;
	width: 100%;
	height: 1000px;
	background-color: #bfbfbf;
}
#top{
	width: 1000px;
	margin: 0 auto
}
#top-page ul{
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0;
	background-color:#bfbfbf;
}
#top-page ul li{
	display: inline-block;
	text-align: center;
	width: 25%;
	margin: 13px 10px 13px 60px;
}
.hkt{
	border-right: 1px solid #fff;
}
#top-page img{
	float: left;
	width: 30px;
	height: 30px;
}
#top-page h3,#top-page span{
	text-align: left;
	font-family: arial;
}
#top-page h3{
	font-size: 12px;
	text-transform: uppercase;
	margin: 0;
}
#top-page span{
	font-size: 11px;
	margin: 0;
}
#top-page a{
	color: #fff;
	text-decoration: none;
	float: left;
	margin: 0 0 0 12px;
}

/*body-page*/
#page{
	width: 1100px;
	height: auto;
	margin: 0 auto;
	border: 2px solid #D1D1D1;
}

#body-page{
	
	width: 100%;
	height: auto;
	margin: 0 auto;
	background-color: #ffffff;
}
#body-top{
	height: 35px;
}
#top-page{
	margin: 0px auto;
	width: 100%;
	height: auto;
	background-color: #bfbfbf;
}
#top{
	width: 1000px;
	margin: 0 auto
}
#body-left{
	float: left;
	color: black;
}
#body-left ul{
	list-style: none;
	padding: 0;
	margin:8px 0 0px 20px;
}
#body-left li{
	display: inline-block;
	font-size: 12px;
	margin-right: 16px;

}
#body-left a{
	text-decoration: none;
	color: black;
}
#body-left ul{
	list-style: none;
}
#body-right{
	float: right;
	
}
#body-right ul{
	list-style: none;
	padding: 0;
	margin:8px 0 0px 0;
}
#body-right ul li{
	display: inline-block;
	text-align: left;
	margin-right: 16px;
}
#body-right ul li span{
	color: black;
}
#body-right img{
	float: left;
	width: 13px;
	height: 13px;
	margin-top: 3px;
}
#body-right h3,#body-right span,#body-left a{
	text-align: left;
	font-family: arial;
}
#body-right h3{
	font-size: 12px;
	text-transform: uppercase;
	margin: 0;
}
#body-right span{
	font-size: 11px;
	margin: 0;
}
#body-right a{
	color: #fff;
	text-decoration: none;
	float: left;
	margin: 0 0 0 4px;
}

/*logo-search*/
#logo-search{
	width: 100%;
	height: 100px;
}
#logo{
	width: 100%;
	float: left;
	text-align: center;
}
#logo img{
	margin-top: 5px;
}
#search{
	position: relative;
	left: 900px;
	top: -35px;
}
#search-left{
	float: left;
}
#search-left input{
	-webkit-border-radius: 20px 0 0 20px;
	border-radius: 20px 0 0 20px;
	height: 20px;
}
#search-right{
	float: left;
	width: 20px;
	height: 20px;
	border: 1px solid black;
	-webkit-border-radius: 0 20px 20px 0;
	border-radius: 0 20px 20px 0;
}
#search-right img{
	width: 12px;
	height: 12px;
	margin: 5px 0 0 5px;
}

/*menu ngang*/
#main-nav ul{
	margin: 0px;
	padding: 0px;
	list-style: none;/*xóa dấu chấm */
	background: #ffffff;
	border-bottom: 1px solid black;/*đường kẻ dưới*/
	padding-left: 50px;
}
#main-nav ul li{
	display: inline-block; /*hiện ngang*/
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}
#main-nav ul li a{
	font-family: Arial;
	text-decoration: none;/*bỏ gạch chân*/
	padding: 10px;
	display: block; /*chuyển thành khối*/
	color: black;
}
#main-nav ul li a:hover, #main-nav ul li.active a{
	background-color: black;
	color: #fff;
}
/*khoi chinh giua*/

#between{
	height: auto;
	margin: 25px 25px 25px 25px;
}


/*image lớn*/
#anh1{
	position: relative;
	width: 780px;
	height: 489px;
	float: left;

}
#anh2{
	float: right;
	width: 239px;
	height: 230px;
}
#anh3{
	float: right;
	width: 239px;
	height: 230px;
	margin-top: 25px;
}

/*slideshow*/

#slideshow{
	clear: left;
}
#slideshow ul{
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0 0 0 0 ;
}
#slideshow ul li{
	display: inline-block;
	float: left;
	width: 20%;
	height: auto;
	padding: 20px 0 20px 0;
}
#slideshow ul li img{
	width: 160px;
	height:80px;
}