.clr{
	clear: both;
}
*{
	box-sizing: border-box;
}
#box{
	/*background-color: green;*/
	width: 100%;
	height: auto;
	padding:0;

}


/*top*/
#top-page{
	margin: 0px auto;
	width: 100%;
	height: 1000px;
	background-color: #bfbfbf;
}
#top{
	width: 1000px;
	margin: 0 auto
}
#top-page ul{
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0;
	background-color:#bfbfbf;
}
#top-page ul li{
	display: inline-block;
	text-align: center;
	width: 25%;
	margin: 13px 10px 13px 60px;
}
.hkt{
	border-right: 1px solid #fff;
}
#top-page img{
	float: left;
	width: 30px;
	height: 30px;
}
#top-page h3,#top-page span{
	text-align: left;
	font-family: arial;
}
#top-page h3{
	font-size: 12px;
	text-transform: uppercase;
	margin: 0;
}
#top-page span{
	font-size: 11px;
	margin: 0;
}
#top-page a{
	color: #fff;
	text-decoration: none;
	float: left;
	margin: 0 0 0 12px;
}

/*body-page*/
#page{
	width: 1100px;
	height: auto;
	margin: 0 auto;
	border: 2px solid #D1D1D1;
}

#body-page{
	
	width: 100%;
	height: auto;
	margin: 0 auto;
	background-color: #ffffff;
}
#body-top{
	height: 35px;
}
#top-page{
	margin: 0px auto;
	width: 100%;
	height: auto;
	background-color: #bfbfbf;
}
#top{
	width: 1000px;
	margin: 0 auto
}
#body-left{
	float: left;
	color: black;
}
#body-left ul{
	list-style: none;
	padding: 0;
	margin:8px 0 0px 20px;
}
#body-left li{
	display: inline-block;
	font-size: 12px;
	margin-right: 16px;

}
#body-left a{
	text-decoration: none;
	color: black;
}
#body-left ul{
	list-style: none;
}
#body-right{
	float: right;
	
}
#body-right ul{
	list-style: none;
	padding: 0;
	margin:8px 0 0px 0;
}
#body-right ul li{
	display: inline-block;
	text-align: left;
	margin-right: 16px;
}
#body-right ul li span{
	color: black;
}
#body-right img{
	float: left;
	width: 13px;
	height: 13px;
	margin-top: 3px;
}
#body-right h3,#body-right span,#body-left a{
	text-align: left;
	font-family: arial;
}
#body-right h3{
	font-size: 12px;
	text-transform: uppercase;
	margin: 0;
}
#body-right span{
	font-size: 11px;
	margin: 0;
}
#body-right a{
	color: #fff;
	text-decoration: none;
	float: left;
	margin: 0 0 0 4px;
}

/*logo-search*/
#logo-search{
	width: 100%;
	height: 100px;
}
#logo{
	width: 100%;
	float: left;
	text-align: center;
}
#logo img{
	margin-top: 5px;
}
#search{
	position: relative;
	left: 900px;
	top: -35px;
}
#search-left{
	float: left;
}
#search-left input{
	-webkit-border-radius: 20px 0 0 20px;
	border-radius: 20px 0 0 20px;
	height: 20px;
}
#search-right{
	float: left;
	width: 20px;
	height: 20px;
	border: 1px solid black;
	-webkit-border-radius: 0 20px 20px 0;
	border-radius: 0 20px 20px 0;
}
#search-right img{
	width: 12px;
	height: 12px;
	margin: 5px 0 0 5px;
}

/*menu ngang*/
#main-nav ul{
	margin: 0px;
	padding: 0px;
	list-style: none;/*xóa dấu chấm */
	background: #ffffff;
	border-bottom: 1px solid black;/*đường kẻ dưới*/
	padding-left: 50px;
}
#main-nav ul li{
	display: inline-block; /*hiện ngang*/
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}
#main-nav ul li a{
	font-family: Arial;
	text-decoration: none;/*bỏ gạch chân*/
	padding: 10px;
	display: block; /*chuyển thành khối*/
	color: black;
}
#main-nav ul li a:hover{
	background-color: black;
	color: #fff;
}
/*khoi chinh giua*/

#between{
	height: auto;
	margin: 25px 25px 25px 25px;
}


/*image lớn*/
#anh1{
	position: relative;
	width: 780px;
	height: 489px;
	float: left;

}
#anh2{
	float: right;
	width: 239px;
	height: 230px;
}
#anh3{
	float: right;
	width: 239px;
	height: 230px;
	margin-top: 25px;
}

/*slideshow*/

#slideshow{
	clear: left;
}
#slideshow ul{
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0 0 0 0 ;
}
#slideshow ul li{
	display: inline-block;
	float: left;
	width: 20%;
	height: auto;
	padding: 20px 0 20px 0;
}
#slideshow ul li img{
	width: 160px;
	height:80px;
}

/*shop lua chon*/

#shop{
	clear: left;
}
#shop ul{
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0 ;
}
#shop ul li{
	display: inline-block;
	float: left;
	width: 33.3%;
	height: auto;
	padding: 0;
	/*margin-right: 25px;*/
}
#shop ul li img{
	width: 310px;
	height:210px;
}


/*menu mat hang*/
#title{
	clear: left;
	font-family: arial;
	padding: 40px 0 30px 0;
}
#title ul{
	margin: 0px;
	padding: 0px;
	list-style: none;/*xóa dấu chấm */
	border-bottom: 1px solid #a5a4a4;
}
#title ul li{
	display: inline-block; /*hiện ngang*/
	margin-top: 50px;
	padding-bottom: 20px;

}
#title ul li:last-child a{ /*xoa the li cuoi cung*/
	border-right: none;
}
#title ul li a{
	font-family: Arial;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;	
	text-decoration: none;/*bỏ gạch chân*/
	padding: 0px 20px 0 8px;
	display: block; /*chuyển thành khối*/
	border-right: 1px solid #a5a4a4;
	font-size: 15px;
	color: #7c7777;


}
#title ul li a:hover{
	color: black;
}
#title ul li:hover{
	border-bottom: 1px solid #3293ec;
}
.khoi{
	float: left;
	width: 25%;
	height: 300px;
	text-align: center;
	font-family: arial;
}

.sanp{
	width: 150px;
	height: 180px;
}
.sao{
	width: 60px;
	height: 18px;
}
.kh2 ul li img{
	width: 15px;
	height: 15px;
}
/*end*/
.khoi h3{
	
	font-size: 13px;
	margin: 0;
}
.kh1 p{
	color: red;
	font-weight: bold;
	margin: 0;
	font-size: 15px;	
}
.kh1 strike{
	color: #aba9a9;
	font-size: 11px;
}
.kh1{
	clear: left;
	text-align: center;
}
.kh1 ul{
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0 ;
}
.kh1 ul li{
	display: inline-block;
	height: auto;
}


.kh2{
	clear: left;
	text-align: center;
}
.kh2 ul{
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 10px 0 0 0  ;
}
.kh2 ul li{
	text-align: center;
	display: inline-block;
	height: auto;
	padding:5px 5px 0px 5px;
	margin-right: 2px;
	border: 1px solid #bdbcbc;
}
#imagefull img{
	width: 100%;
	height: auto;
}
/*new2*/

.kh{
	float: left;
	width: 20%;
	height: 300px;
	text-align: center;
	font-family: arial;
}
.kh h3{
	
	font-size: 13px;
	margin: 0;
}
/* lien he */
#lienhe{
	margin: 0px auto;
	width: 100%;
	height: auto;
	font-family: arial;
}
#lienhe ul{
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0;
}
#lienhe ul li{
	display: inline-block;
	text-align: center;
	width: 25%;
	margin: 60px;
}
#lienhe ul li h2{
	color: #565656;
	margin-top: 0;
	text-transform: uppercase;
	font-size: 16px;
}
#lienhe a{
	text-decoration: none;
}
#lienhe ul li div{
	text-align: center;
}
#lienhe ul li span{
	width: 100%;
}
#lienhe ul li a{
	width: 100%;
	text-align: center;
}